/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  color: #f1f1f1;
  background-color: rgb(26, 26, 26);
  line-height: 1.6;
}

/* Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.header h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  color: #e94560;
}

.nav-links {
  display: flex;
  gap: 3rem;
}

.nav-links a {
  color: #f1f1f1;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #e94560;
}

/* Home Section Styles */
.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  max-width: 1200px;
  margin: auto;
}

.home-content {
  flex: 1;
}

.home-content h2 {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #f1f1f1;
}

.home-content h2 span {
  color: #e94560;
}

.home-content p {
  font-size: 1.2rem;
  color: #cccccc;
  margin-bottom: 1rem;
}

.home img {
  width: 450px;
}

.start-button {
  padding: 0.75rem 2rem;
  font-size: 1.1rem;
  color: #fff;
  background-color: #e94560;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.start-button:hover {
  background-color: #c63e52;
}

/* About Me Section */
.about-me {
  padding: 4rem 2rem;
  max-width: 1100px;
  margin: auto;
  text-align: center;
}

.about-me h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  color: #f1f1f1;
  margin-bottom: 1rem;
}

.about-me p {
  font-size: 1.1rem;
  color: #cccccc;
  line-height: 1.8;
}

/* Blog Post Section */
.blog-post {
  max-width: 1100px;
  margin: auto;
  padding: 2rem;
}

.blog-post h3 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  color: #f1f1f1;
  margin-top: 1.5rem;
}

.blog-post p {
  color: #cccccc;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

/* Footer */
footer {
  text-align: center;
  padding: 1rem;
  background-color: #1c1c1c;
  color: #fff;
  font-size: 0.9rem;
  margin-top: 2rem;
}
